/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*Initialize variables*/

:root{
    /*Primary Colours*/
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);

    /*Background Gradient*/
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);

    /*Neutral*/
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    /*Dividers*/
    --Light-grayish-blue: hsl(240, 5%, 91%);
    
}

/*Hero image styling*/

.hero-image-section{
    width:700px;
}

.hero-box{
    position:absolute;
    top:480px;
    left:40px;
    z-index: 2;
}

.hero-desktop{
    position: relative;
    bottom:5px;
    right:10px;
    margin-top: 65px;
    width:550px;
    height:500px;
    object-fit: cover;
    object-position: -120px;
}

/*End of hero image styling*/

/*General Styling*/
*{
    margin:0;
    padding:0;
    text-decoration: none;
}


body{
    background-image: linear-gradient( var(--Soft-violet), var(--Soft-blue));
}


h1, h2, p{
    font-family: "Kumbh Sans";
}

li{
    list-style-type: none;
}

.faq-card{
    border-radius: 2em;
    background-color: white;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: -650px -300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    height:650px;
    margin:20vh auto;
    padding:10px;
}

.card-title{
    font-size:2rem;
    font-weight: 700;
}

.nav-title{
    color:var(--Very-dark-grayish-blue);
    font-weight:400;
    font-size:1.4rem;
}