/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*Initialize variables*/

:root {
    /*Primary Colours*/
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);

    /*Background Gradient*/
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);

    /*Neutral*/
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    /*Dividers*/
    --Light-grayish-blue: hsl(240, 5%, 91%);

}



/*General Styling*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body {
    background-image: linear-gradient(var(--Soft-violet), var(--Soft-blue));
    background-repeat: no-repeat;
}


h1,
h2,
p {
    font-family: "Kumbh Sans";
}

p {
    font-size: 14px;
}

li {
    list-style-type: none;
}

/*Hero image styling*/



.hero-box {
    position: absolute;
    top: 240px;
    left: -135px;
    z-index: 2;
    transition: transform 1s ease-in-out;
}

.hero-box-toggle {
   transform: translateX(45px);

}

.hero-desktop-mobile {
    display: none;
}

.hero-desktop {
    position: relative;
    bottom: 10px;
    right: 10px;
    margin-top: 65px;
    width: 500px;
    height: 420px;
    object-fit: cover;
    object-position: -100px;
}

/*Nav Styling*/

.nav-section {
    width: 400px;
    padding: 10px;
    margin-right: 80px;
}

.card-title {
    margin-top: 50px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue)
}

.card-nav {
    margin-top: 20px;
}

.nav-icon {
    width: 15px;
    height: auto;
    position: relative;
    left: 370px;
    bottom: 20px;

}

.nav-title {
    color: var(--Very-dark-grayish-blue);
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0;

}

.nav-title:hover {
    color: var(--Soft-red);
    cursor: pointer;
}


.nav-text {
    display: none;
    width: 90%;
    color: var(--Dark-grayish-blue);
    padding: 10px 0;
    margin-bottom: 5px;
    line-height: 1.5rem;
}


.list-container {
    margin: 5px 0 15px 0;
    border-bottom: 1px solid var(--Light-grayish-blue);
}



/*Mobile Styles*/
@media screen and (max-width:475) {
    .hero-desktop-mobile {
        width: 300px;
        height: auto;
    }

    .faq-card {
        border-radius: 2em;
        background-color: white;
        background-image: url("images/bg-pattern-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 -10px;
        filter: drop-shadow(1px 40px 40px var(--Very-dark-desaturated-blue));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 375px;
        min-height: 600px;
        margin: 30vh auto;
        padding: 10px;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .hero-box {
        display: none;
    }

    .hero-desktop {
        display: none;
    }

    .hero-image-section {
        height: 10px;
    }


    .hero-desktop-mobile {
        display: inline;
        position: relative;
        width: 250px;
        height: auto;
        bottom: 120px;
        left: 25px;
    }

    .faq-card {
        border-radius: 2em;
        background-color: white;
        background-image: url("images/bg-pattern-mobile.svg");
        background-repeat: no-repeat;
        background-size: 250px auto;
        background-position: 35px 0;
        filter: drop-shadow(1px 40px 40px var(--Very-dark-desaturated-blue));
        display: flex;
        flex-direction: column;
        max-width: 300px;
        min-height: 500px;
        margin: 30vh auto;
        padding: 10px;
    }

    .nav-section {
        margin: 50px auto 10px;
        width: 290px;
    }

    .card-title {
        text-align: center;
    }

    .nav-title {
        font-size: 0.9rem;
    }

    .nav-icon {
        left: 270px;
        bottom: 15px;
    }



}





/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .faq-card {
        border-radius: 2em;
        background-color: white;
        background-image: url("images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: -65px 40px;
        filter: drop-shadow(1px 40px 40px var(--Very-dark-desaturated-blue));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 500px;
        min-height: 600px;
        margin: 10vh auto;
        padding: 10px;
    }


    .nav-section {
        margin: 0 auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .faq-card {
        border-radius: 2em;
        background-color: white;
        background-image: url("images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: -570px -300px;
        filter: drop-shadow(1px 40px 40px var(--Very-dark-desaturated-blue));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1000px;
        min-height: 500px;
        margin: 30vh auto;
        padding: 10px;
    }

    .nav-section {
        width: 400px;
        padding: 10px;
        margin-right: 80px;
    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}